__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv
.ipynb_checkpoints/
checkpoints/
experiments/results/
paper/figures/
src/viz/dashboard/onnx_models/*.onnx
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.DS_Store
